<html>
    <head>
        <title>
            Results page
        </title>
    </head>
    <body>
        <form action="/results" method="post">
            <label for="roll_no">Enter the roll number</label>
            <input type="text" name="roll_no" id="roll_no">
            <button>Submit</button>
        </form>
        <% if(data!=null){ %> 
        <table>
            <tr>
              <th>Name</th>
              <th>Roll no</th>
              <th>email</th>
              <th>maths</th>
              <th>science</th>
              <th>Social Science</th>
              <th>secondLanguage</th>
              <th>firstLanguage</th>
            </tr>
            <tr>
              <td><%=data.name%></td>
              <td><%=data.rollNo%></td>
              <td><%=data.email%></td>
              <td><%=data.maths%></td>
              <td><%=data.science%></td>
              <td><%=data.socialScience%></td>
              <td><%=data.secondLanguage%></td>
              <td><%=data.firstLanguage %></td>
            </tr>
          </table>
        <% }  %> 
          
        
    </body>
</html>