<html>
    <head>
        <title>
            Results page
        </title>
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
    </head>
    <body>
        <form action="/results" method="post">
            <label for="roll_no">Enter the roll number</label>
            <input type="text" name="roll_no" id="roll_no">
            <button>Submit</button>
        </form>
        <% if(data!=null){ %> 
            <table>
                <tr>
                  <th>Name</th>
                  <th>Roll no</th>
                  <th>DAA</th>
                  <th>DBMS</th>
                  <th>FMC</th>
                  <th>MP</th>
                  <th>ATFL</th>
                  <th>OS</th>
                  <th>DAA LAB</th>
                  <th>DBMS LAAB</th>
                  <th>ಕನ್ನಡ</th>
                  <th>SGPA</th>
                </tr>
                <tr>
                  <td><%=data.name%></td>
                  <td><%=data.rollNo%></td>
                  <td><%=data.daa%></td>
                  <td><%=data.dbms%></td>
                  <td><%=data.fmc%></td>
                  <td><%=data.mp%></td>
                  <td><%=data.atfl %></td>
                  <td><%=data.os%> </td>
                  <td><%=data.daaLab%> </td>
                  <td><%=data.dbmsLab%> </td>
                  <td><%=data.kannada%> </td>
                  <td><%=data.sgpa%></td>
                </tr>
              </table>
        <% }  %> 
          
        
    </body>
</html>